*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px 0;
}

h1 {
    margin-bottom: 50px;
    text-align: center;
}

table {
    margin: 0 auto;
    width: 50%;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
}

th {
    background: #054564;
    color: #FFF0D7;
    padding: 8px;
}

td {
    padding: 10px;
}

td:nth-child(1), td:nth-child(4), td:nth-child(5) {
    text-align: center;
}
